<h3>Comments</h3>
<% @comments.each do |comment| %>
  <% if comment.persisted? %>
    <%= comment.created_at.strftime("Dodano dnia: %m/%d/%Y o %I:%M%p") %>
    <strong>Treść komentarza :</strong>
    <%= comment.content %>
    <strong>Autor komentarza :</strong>
    <%= comment.user.email %>
    <br><hr>
  <% end %>
<% end %>

<%= form_for [@shop, @product, @new_comment] do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>